.chooseNextPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.info {
  font-size: 30px;
  color: #5c8dff;
  font-style: italic;
  font-weight: bold;
  opacity: 0.6;
}