.input {
  background: #5c8dff;
  border: 0;
}

.input::placeholder {
  color: white;
}
.input:hover::placeholder {
  color: gray;
}

.quickCountLevels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}