.table {
  & th {
    background: #24326c !important;
    color: white !important;
    border-radius: 0;
    border: 0 !important;
    font-weight: 200 !important;
    border-start-start-radius: 0 !important;
    border-start-end-radius: 0 !important;
    text-align: center !important;
  }

  & th::before {
    display: none !important;
  }

  & td {
    border: 0 !important;
    text-align: center;
    background: rgb(0, 66, 128) !important;
  }
}