.table {
  & .ant-table-row, .ant-table-thead {
    .ant-table-cell {
      padding: 5px !important;
      font-size: 12px;
      font-weight: 500;
      line-height: 14.52px;
      white-space: pre-line;
    }
  }
}