.play {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

.info {
  display: flex;
  gap: 15px
}

.beforeGame {
  animation-name: beforeGame;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-family: "Shadows Into Light", cursive;
}

@keyframes beforeGame {
  0% {
    font-size: 270px;
  }
  50% {
    font-size: 320px;
  }
  100% {
    font-size: 270px;
  }
}