.pageNotFound {
  display: flex;
  align-items: center;
}

.pageNotFoundInside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  color: white;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}