.pageNotFound {
  display: flex;
  align-items: center;
}

.pageNotFoundInside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
  color: white;
  text-align: center;
  max-width: 1000px;
  margin: 20vh auto 0 auto;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}