.supportPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20vh;

  .supportTextarea {
    margin-top: 10px;
    height: 10vh;
  }

  .supportButton {
    margin-top: 10px;
    background: #7fff9f;
  }
}