.quickCountForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: white;
  padding: 20px;

  h1 {
    font-size: 30px;
    margin: 0 auto 20px auto;
  }

  & label {
    min-width: 200px;
    font-size: 20px !important;
  }

  & input {
    height: 40px;
    border-radius: 20px;
    border: 2px solid #c5c5c5;
    width: 100px;
  }
}

.quickCountLevels {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  gap: 20px;
  width: 100%;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 0 5px #9dbbff;
    font-family: "Shadows Into Light", cursive;
    font-weight: 600;

    img {
      width: 70px;
      height: 70px;
    }

    span {
      font-size: 70px;
    }
  }

  section:hover {
    box-shadow: 0 0 20px #9dbbff;
    font-size: 18px;
  }
}

.continueButton {
  margin: 0 auto;
}

.modal {
  width: 40% !important;
}