.play {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

.gameText {
  font-size: 320px;
  font-family: "Shadows Into Light", cursive;
}

.beforeGame {
  animation-name: beforeGame;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-family: "Shadows Into Light", cursive;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  gap: 10px;
  width: 80%;
}

.progressBar_zone {
  width: 100%;
  height: 100%;
}

.progressBar_item {
  width: 100%;
  height: 100%;
  background: white;
  animation-name: progressBar;
  animation-iteration-count: 1;
}

.sideIcons {
  height: 40px;
  width: 40px;
}

.startButton {
  width: 230px;
  height: 40px;
  border-radius: 10px;
  background: #7fff9f;
  font-size: 20px;
}

.startButton:hover {}

@keyframes beforeGame {
  0% {
    font-size: 270px;
  }
  50% {
    font-size: 320px;
  }
  100% {
    font-size: 270px;
  }
}

@keyframes progressBar {
  0% {
    width: 100%;
    background: #30ff65;
  }
  50% {
    background: #ffb200;
  }
  100% {
    width: 0;
    background: #95080a;
  }
}