.filters {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  transition: .3s;
  margin: 10px 0;

  section {
    display: flex;
    flex-direction: column;
    gap: 8px;

    div {
      display: flex;
      gap: 10px;
    }
  }
}

.filterFields {
  display: flex;
  width: 90%;
  flex-direction: row;
  gap: 10px;
}

.hidden {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin: 10px 0;
  transition: .3s;
}