.leftAside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  height: 100vh;
  position: fixed;
  background: #001529;
}

.menu {
  background: #262626
}

.outletSettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}