.layoutContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #002140;
  color: white;
  min-height: 100vh;
}

.menu {
  background: #262626
}

.outletSettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}