.leftAside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  height: 100vh;
  position: fixed;
  background: #001529;
}

.menu {
  background: #262626
}

.demoLogo {
  width: 45px;
  height: 45px;
  background: #00417d;
  border-radius: 50%;
}