.pageWrapperSettings {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 1400px;
  min-height: 93vh;
}

@media (max-width: 1620px) {
  .pageWrapperSettings {
    max-width: 1300px;
  }
}

@media (max-width: 1520px) {
  .pageWrapperSettings {
    max-width: 1100px;
  }
}

@media (max-width: 1370px) {
  .pageWrapperSettings {
    max-width: 950px;
  }
}

@media (max-width: 1200px) {
  .pageWrapperSettings {
    max-width: 800px;
  }
}