.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.cellZone {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid;
}

.cell {

}